
<form action="/Home/AddHuman" method="post">
    Name: <input type="text" name="Name" value="" /> <br>
    Nationality: <input type="text" name="Nationality" value="" /> <br>
    Job: <input type="text" name="Job" value="" /> <br>
    Wage: <input type="number" name="Wage" value="" /> <br>
    <input type="submit" name="" value="Add" /> <br>
</form>
<input type="button" class="myButton" onclick="location.href='/Home/HumanPage';" value="Back to Human Page" />


