
<form action="/Home/AddMonster" method="post">
    Name: <input type="text" name="Name" value="" /> <br>
    Bounty: <input type="number" name="Bounty" value="" /> <br>
    Race: <input type="text" name="Race" value="" /> <br>
    Threat: <input type="number" name="Threat" value="" /> <br>
    <input type="submit" name="" value="Add" /> <br>
</form>
<input type="button" class="myButton" onclick="location.href='/Home/MonsterPage';" value="Back to Monster Page" />

