@model string


<form action="/Home/AddNewFriend" method="post">
    <input type="hidden" name="WitcherID" value="@Model" />

    <input type="submit" name="" value="Add" /> <br>
</form>
<input type="button" class="myButton" onclick="location.href='/Home/WitcherPage';" value="Back to Witcher Page" />
