
<h1>Manage Humans</h1>
<p>
    <a href="/Home/AddHuman" class="myButton">Add New Human</a>
</p>
<p>
    <a href="/Home/ListAllHumans" class="myButton">List All Humans</a>
</p>

<input type="button" class="myButton" onclick="location.href='/Home/Index';" value="Back to Main Page" />
