
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Human Page</title>
</head>
<body>
    <h1>Manage Humans</h1>
    <p>
        <a href="/Home/AddHuman">Add New Human</a>
    </p>
    <p>
        <a href="/Home/ListAllHumans">List All Humans</a>
    </p>

    <input type="button" class="" onclick="location.href='/Home/Index';" value="Back to Main Page" />

</body>
</html>
