
<h1>The Witcher World's Data Manager</h1>
<p>
    <a href="/Home/HumanPage" class="myButton">Manage Humans</a>
</p>
<br />
<p>
    <a href="/Home/MonsterPage" class="myButton">Manage Monsters</a>
</p>
<br />
<p>
    <a href="/Home/WitcherPage" class="myButton">Manage Witchers</a>
</p>
<br />
<p>
    <a href="/Home/Contracts" class="myButton">Active Contracts</a>
</p>
<br />
<p>
    <a href="/Home/Stats" class="myButton">Stats</a>
</p>
<br />

<a href="/Home/Init" class="myButton">Fill the database</a>
