<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>The Witcher World's Data Manager</h1>
    <p>
        <a href="/Home/WitcherPage">Manage Witchers</a>
    </p>
    <p>
        <a href="/Home/MonsterPage">Manage Monsters</a>
    </p>
    <p>
        <a href="/Home/HumanPage">Manage Humans</a>
    </p>
    <p>
        <a href="/Home/Statisztika">Statistics</a>
    </p>
</body>
</html>
