
<h1>Manage Monsters</h1>
<p>
    <a href="/Home/AddMonster" class="myButton">Add New Monster</a>
</p>
<p>
    <a href="/Home/ListAllMonsters" class="myButton">List All Monsters</a>
</p>

<input type="button" class="myButton" onclick="location.href='/Home/Index';" value="Back to Main Page" />