<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monster Page</title>
</head>
<body>
    <h1>Manage Monsters</h1>
    <p>
        <a href="/Home/AddMonster">Add New Monster</a>
    </p>
    <p>
        <a href="/Home/ListAllMonsters">List All Monsters</a>
    </p>

    <input type="button" class="" onclick="location.href='/Home/Index';" value="Back to Main Page" />

</body>
</html>
