@model Models.StatModel

<h2>Witcher who gets paid the most(avarage): @Model.AvgHuntedBounty</h2>

<h2>Witcher school with the most threat points: @Model.SchoolStats</h2>

<h2>How many witchers has a redenian friend: @Model.HasRedenianFriend</h2>

<input type="button" class="myButton" onclick="location.href='/Home/Index';" value="Back to Main Page" />