
<h1>Manage Witchers</h1>
<p>
    <a href="/Home/AddWitcher" class="myButton">Add New Witcher</a>
</p>
<p>
    <a href="/Home/ListAllWitchers" class="myButton">List All Witchers</a>
</p>

<input type="button" class="myButton" onclick="location.href='/Home/Index';" value="Back to Main Page" />
