<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Witcher Database manager</title>
    <style>

    </style>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    @RenderBody()
</body>
</html>